<div class="module">
    <div class="module-head">
        <h3>Kulübümüz Üyeleri </h3>
    </div>
    <div class="module-body table">
        <table class="table-responsive">
            <thead>
            <tr>
                <th scope="col">Fotoğraf</th>
                <th scope="col">Ad</th>
                <th scope="col">Mail</th>
                <th scope="col">Bölüm</th>
                <th scope="col">Facebook</th>
                <th scope="col">Twitter</th>
                <th scope="col">Instagram</th>
                <th scope="col">Linkedin</th>
                <th scope="col">Güncelle</th>
                <th scope="col">Sil</th>
            </tr>
            </thead>
            <tbody>
            {{#each members}}
            <tr>
                <td><img src="{{profile_img}}" class="img-thumbnail member-list-image" alt=""></td>
                <td>{{name}}</td>
                <td>{{mail}}</td>
                <td>{{branch}}</td>
                <td><a href="{{facebook_link}}">facebook</a></td>
                <td><a href="{{twitter_link}}">twitter</a></td>
                <td><a href="{{instagram_link}}">instagram</a></td>
                <td><a href="{{linkedin_link}}">linkedin</a></td>
                <td><button class="btn btn-success">Güncelle</button></td>
                <td>
                    <form method="POST" action="/admin/delete-member/{{_id}}?_method=DELETE" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div><!--/.module-->
