{{#if sessionFlash.message}}
    <div class="{{sessionFlash.type}}">
        {{sessionFlash.message}}
    </div>
{{/if}}
<div class="module">
    <div class="module-head">
        <h3>Yayındaki Makaleler</h3>
    </div>
    <div class="module-body table-responsive-lg">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Görsel</th>
                <th scope="col">Başlık</th>
                <th scope="col">Yazar</th>
                <th scope="col">Kaynak</th>
                <th scope="col">Tarih</th>
                <th scope="col">Güncelle</th>
                <th scope="col">Sil</th>
            </tr>
            </thead>
            <tbody>
            {{#each blogs}}
                <tr>
                    <td><img src="{{blog_img}}" class="img-thumbnail member-list-image" alt=""></td>
                    <td>{{title}}</td>
                    <td>{{author}}</td>
                    <td>{{source}}</td>
                    <td>{{generateDate date 'DD MMM YYYY'}}</td>
                    <td><a href="/admin/blogs/{{id}}" class="btn btn-primary">Güncelle</a></td>
                    <td>
                        <form method="POST" action="/admin/delete-blog/{{_id}}?_method=DELETE" enctype="application/x-www-form-urlencoded">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger">Sil</button>
                        </form>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div><!--/.module-->
